# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
!.vscode/settings.json  # <-- .vscode 폴더는 무시하되, 이 설정 파일은 공유
.idea/

# Node.js (Frontend)
node_modules/
dist/
build/
.npm/

# Sensitive Files (!!!)
*.env
.env
.env.*
!.env.example